/* http://www.menucool.com */

#sliderFrame, #sliderFrame div {
    box-sizing: content-box;
}
#sliderFrame {
    width:960px; 
    margin: 0 auto; /*center-aligned*/
}

#slider, #slider .sliderInner {
    width:960px;height:400px;/* Must be the same size as the slider images */
    border-radius:0px;
}

#slider {
    background-color:white;
    position:relative;
    margin:0 auto; /*center-aligned*/
    transform: translate3d(0,0,0);
}

/* the link style (if slide image is wrapped by a link) */
#slider a.imgLink, #slider .video {
    z-index:2;
    cursor:pointer;
    position:absolute;
    top:0px;left:0px;border:0;padding:0;margin:0;
    width:100%;height:100%;
}
#slider .video {
    background:transparent url(video.png) no-repeat 50% 50%;
}


/* ------ built-in navigation bullets wrapper ------*/
#slider .navBulletsWrapper  {
    display:none;
}

/* --------- Others ------- */

#slider img, #slider>b, #slider a>b {
    position:absolute; border:none; display:none;
}

#slider .sliderInner {
    overflow:hidden;
    position:absolute; top:0; left:0;
}

#slider>a, #slider video, #slider audio {display:none;}
#slider div {-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}



/* -- thumbnails -- */
#thumbs
{
    background:white url(thumbs-bar.gif) repeat-x 0 0;
    border:1px solid white; text-align:center;
    font-size:18px;
    line-height:45px;
	margin-top: 20px;
}
#thumbs .thumb 
{
    width:100px;height:45px;
    cursor:pointer;
    text-align:center;
    border-left:1px solid #FFF; border-right:1px solid #DDD; 
    
    display:inline-block;
    *display:inline;zoom:1; /*IE Hack*/
}
#thumbs .thumb-on { color: #008cff;}
#thumbs .thumb img {vertical-align:middle;}
/*-----------------------------------------------------------------------*/
/* SLIDER 2 
/*-----------------------------------------------------------------------*/
/* http://www.menucool.com */

#sliderFrame-1, #sliderFrame-1 div {
    box-sizing: content-box;
}
#sliderFrame-1 {
    width:1170px; 
    margin: 0 auto; /*center-aligned*/
}

#slider-1, #slider-1 .sliderInner {
    width:50%;height:420px;/* Must be the same size as the slider images */
    border-radius:0px;
}

#slider-1 {
    background-color:white;
    position:relative;
    margin:0 auto; /*center-aligned*/
    transform: translate3d(0,0,0);
}

/* the link style (if slide image is wrapped by a link) */
#slider-1 a.imgLink, #slider-1 .video {
    z-index:2;
    cursor:pointer;
    position:absolute;
    top:0px;left:0px;border:0;padding:0;margin:0;
    width:100%;height:100%; 
}
#slider-1 .video {
    background:transparent url(video.png) no-repeat 50% 50%;
}


/* ------ built-in navigation bullets wrapper ------*/
#slider-1 .navBulletsWrapper  {
    display:none;
}

/* --------- Others ------- */

#slider-1 img, #slider-1>b, #slider-1 a>b {
    position:absolute; border:none; display:none;
}

#slider-1 .sliderInner {
    overflow:hidden;
    position:absolute; top:0; left:0;
}

#slider-1>a, #slider-1 video, #slider-1 audio {display:none;}
#slider-1 div {-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0); }
#slider-1 p { display: block;
    position: absolute;
    width: 100%;
    bottom: -150px;
    font-size: 15px;
    line-height: 25px; }


/* -- thumbnails -- */
#thumbs-1
{   text-align:center;
    font-size:18px;
    line-height:45px;
	margin-top: 150px;
}
#thumbs-1 .thumb 
{
    width:180px;height:110px;
    cursor:pointer;
    text-align:center; 
    
    display:inline-block;
    *display:inline;zoom:1; /*IE Hack*/
}
#thumbs-1 .thumb-on { color: #008cff; }
#thumbs-1 .thumb-on p { color: #008cff; }
#thumbs-1 .thumb-on img { background: #008cff; border-radius: 50%; }
#thumbs-1 .thumb img {vertical-align:middle;}
#thumbs-1 .thumb p { line-height: 24px; padding-top: 10px; }


