/*-------------------------------------------------------------------------------------------*/
/* Author - Sandra Gjorgjevska
/*-------------------------------------------------------------------------------------------*/
/* roboto font */
@font-face {
    font-family: 'robotothin'; src: url('Roboto-Thin-webfont.eot'); src: url('Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'), url('Roboto-Thin-webfont.woff') format('woff'), url('Roboto-Thin-webfont.ttf') format('truetype'), url('Roboto-Thin-webfont.svg#robotothin') format('svg'); font-weight: 100; font-style: normal; }
@font-face { font-family: 'robotolight'; src: url('Roboto-Light-webfont.eot'); src: url('Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('Roboto-Light-webfont.woff') format('woff'), url('Roboto-Light-webfont.ttf') format('truetype'), url('Roboto-Light-webfont.svg#robotolight') format('svg'); font-weight: 300; font-style: normal; }
@font-face { font-family: 'robotoregular'; src: url('Roboto-Regular-webfont.eot'); src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('Roboto-Regular-webfont.woff') format('woff'), url('Roboto-Regular-webfont.ttf') format('truetype'), url('Roboto-Regular-webfont.svg#robotoregular') format('svg'); font-weight: 400; font-style: normal; }
@font-face { font-family: 'robotomedium'; src: url('Roboto-Medium-webfont.eot'); src: url('Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('Roboto-Medium-webfont.woff') format('woff'), url('Roboto-Medium-webfont.ttf') format('truetype'), url('Roboto-Medium-webfont.svg#robotomedium') format('svg'); font-weight: 500; font-style: normal; }
@font-face { font-family: 'robotobold'; src: url('Roboto-Bold-webfont.eot'); src: url('Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('Roboto-Bold-webfont.woff') format('woff'), url('Roboto-Bold-webfont.ttf') format('truetype'), url('Roboto-Bold-webfont.svg#robotobold') format('svg'); font-weight: 700; font-style: normal; }
/*-------------------------------------------------------------------------------------------*/
/* RESET
/*-------------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: middle; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
/*Body Default*/
body { font-family: "Roboto", Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 300; line-height: normal; color: #424a5d; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; }
/*Links*/
a { color: #008cff; font-weight: 300; cursor: pointer; text-decoration: none; transition: color 0.15s ease-in; -moz-transition: color 0.15s ease-in; -webkit-transition: color 0.15s ease-in; -o-transition: color 0.15s ease-in; }
a:hover, a:active, a:focus { color: #008cff; text-decoration: none; }
a:hover, a:active { outline: none; }
:focus { outline: none; }
input[type="button"], input[type="submit"], input[type="image"], button, select { cursor: pointer; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/* The Clearfix */
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clear { clear: both; }
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
/* LAYOUT */
html, body { margin: 0; padding: 0; height: 100%; cursor: default; }
html { position: relative; }
/*-------------------------------------------------------------------------------------------*/
/* LAYOUT
/*-------------------------------------------------------------------------------------------*/
/* Paddings/ Margins */
.p0 { padding: 0 !important; }
.pt200 { padding-top: 200px !important; }
.pt20 { padding-top: 20px !important; }
.pb20 { padding-bottom: 20px !important; }
.pt62 { padding-top: 62px !important; }
.pb62 { padding-bottom: 62px !important; }
.mt100 {margin-top: 100px !important; }
.mb100 { margin-bottom: 100px !important; }
/*------------------------------------------------------------------------------------------*/
.navbar { border: none; }
.dropdown-menu { background-color: #000; border: none; -webkit-box-shadow: none; box-shadow: none; border-radius: 0; }
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover { background-color: #000; color: #fff; }
.dropdown-menu>li>a { color: #fff; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:active { background-color: #000; color: #fff; }
.logo { display: block; width: 60px; height: 45px; background: url(../images/logo.png) 0 0 no-repeat; background-size: 100%; }
.product-captionbar { position: fixed; z-index: 1000; top: 50px; left: 0px; width: 100%; height: 65px; border-bottom: 1px solid #e6e6e6; background-color: rgba(255,255,255,.9); background-color: #fff\9; -webkit-transition: top .3s ease-out; -moz-transition: top .3s ease-out; -ms-transition: top .3s ease-out; -o-transition: top .3s ease-out; transition: top .3s ease-out; }
.product-captionbar h2 { font-size: 32px; color: #333; line-height: 65px; font-weight: 300; width: 100%; text-align: center; }
.product-info h1 { margin-bottom: 30px; font-weight: 300; text-align: center; font-size: 60px; color: #333; }
.product-info p { margin-bottom: 30px; text-align: center; font-size: 18px; line-height: 1.8em; color: #333; }
.img_big { display: block; margin: 0 auto; border: none; }
.product-txt { position: absolute; width: 1170px; margin: 0 auto; margin-left: 20%; top: 50%; bottom: 0; text-align: center; }
.product-txt h2 { margin-bottom: 30px; text-align: center; font-size: 60px; color: #fff; }
.product-txt p { margin-bottom: 30px; text-align: center; font-size: 18px; line-height: 1.8em; color: #fff; }
.size-img { background: url(../images/2.jpg) 0 -650px no-repeat; background-size: cover; display: block; height: 900px;}
.product-capabilities h2 { font-size: 30px; font-weight: 400; margin: 60px auto 30px; text-align: center; color: #333; height: 60px; }
.product-capabilities p { margin-bottom: 30px; text-align: justify; font-size: 18px; line-height: 1.8em; color: #333; padding: 0 20px; height: 200px; }
.left, .right { width: 48%; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; padding: 220px 20px 0; }
.performance { float: left; background: url(../images/performance.png) 50% 65px no-repeat #fff; }
.usage { float: right; background: url(../images/usage.png) 50% 65px no-repeat #fff; }
.touch { float: left; background: url(../images/touch.png) 50% 65px no-repeat #fff; }
.connect { float: right; background: url(../images/connect.png) 50% 65px no-repeat #fff; }
.product-spec { padding: 100px 0; background-color: #f6f6f6; }
.product-spec h2 { margin-bottom: 30px; font-weight: 300; text-align: center; font-size: 60px; color: #333; padding-top: 40px; }
.product-spec p { margin-bottom: 30px; text-align: center; font-size: 18px; line-height: 1.8em; color: #333; }
.bold-p { font-weight: 500; }
.os-quick h2 { margin-bottom: 30px; font-weight: 300; text-align: center; font-size: 50px; color: #333; padding-top: 40px; }
.os-quick p { margin-bottom: 30px; text-align: center; font-size: 18px; line-height: 1.8em; color: #333; }
.os-quick .read-more { font-weight: 300; }
.os-quick .read-more:hover { text-decoration: none; }
.mini-spec { padding: 100px 0; background-color: #f6f6f6; }
.mini-spec h2 { margin-bottom: 30px; font-weight: 300; text-align: center; font-size: 60px; color: #333; padding-top: 20px; }
.mini-spec p { margin-bottom: 0; text-align: center; font-size: 18px; line-height: 1.8em; color: #333; }
footer { background-color: #898989; color: #fff; padding: 40px 0; }
footer p { font-size: 16px; line-height: 20px; margin: 0; letter-spacing: 1px; }
footer .social { float: center; }
footer ul { margin: 0; padding: 0; }
footer .social li { display: inline-block; font-size: 35px; margin-left: 50px; text-decoration: none; webkit-transition: all 0.3s; -moz-transition: all 0.3s;    transition: all 0.3s; }
footer ul li { list-style: none; font-size: 20px; line-height: 20px; color: #fff; }
footer .social li a { display: block; width: 100%; height: 100%; }
footer ul li a { color: #fff; text-decoration: none; }
/*--------------------------------------------------------------------------------------------*/
/* MINI SPEC
/*--------------------------------------------------------------------------------------------*/
.tech-spec { padding: 50px 0; }
.tech-row { border-top: 1px solid #f3f3f3; min-height: 120px; }
.tech-parameter { float: left; width: 32%; font-size: 24px; color: #333; line-height: 120px; }
.tech-datas { float: right; width: 64%; font-size: 18px; line-height: 120px; }
.tech-datas b { font-weight: 300; color: #999; }
.tech-datas.tech-multidata p, .tech-datas.tech-multidata h2 { line-height: 2em; }
.tech-datas.tech-multidata h2 { font-weight: 400; }
.tech-datas.tech-multidata p.p-top { margin-top: 40px; }
.tech-datas.tech-multidata p.p-botm { margin-bottom: 20px; }
.tech-subdata { width: 49%; float: left; }
.data-size { position: relative; height: 600px; background-image: url(../images/7.png); background-position: 0 50%; background-repeat: no-repeat; }
.data-size p.size-p { color: #666; font-size: 14px; line-height: 1.8em; }
.data-ports { position: relative; background-image: url(../images/6.png); background-position: 50% 70px; background-repeat: no-repeat; height: 520px; }
.data-ports-ul { position: absolute; left: 10px; bottom: 50px; line-height: 36px; list-style-type: disc; }
.sizes-para { position: absolute; left: 410px; top: 150px; }
/*--------------------------------------------------------------------------------------------*/
/* REMIX OS
/*--------------------------------------------------------------------------------------------*/
.productos-txt { position: absolute; width: 100%; margin: 0 auto; top: 50%; bottom: 0; text-align: center; }
.productos-txt h2 { margin-bottom: 30px; text-align: center; font-size: 60px; color: #fff; }
.productos-txt p { margin-bottom: 30px; text-align: center; font-size: 18px; line-height: 1.8em; color: #fff; }
.Android_info { padding-top: 100px; text-align: center; }
.Android_info p.info { margin-bottom: 50px; }
section h2 { margin-bottom: 18px; font-size: 52px; line-height: 1.2; font-weight: normal; }
section p.info { display: inline-block; width: 100%; font-size: 18px; line-height: 1.8; }
.headline-wrapper { height: 400px; padding: 0; position: relative; overflow: hidden; text-align: center; text-decoration: none; float: left; min-height: 1px; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; transform-style: preserve-3d; }
.headline-wrapper .one, .headline-wrapper .two, .headline-wrapper .three, .headline-wrapper .four, .headline-wrapper .five, .headline-wrapper .six { height: 100%; transition: 1000ms; -webkit-transition: 1000ms; filter: hue-rotate(250deg); -webkit-filter: hue-rotate(250deg); }	
.headline-wrapper:hover .one, .headline-wrapper:hover .two, .headline-wrapper:hover .three, .headline-wrapper:hover .four, .headline-wrapper:hover .five, .headline-wrapper:hover .six { filter: hue-rotate(0deg);     -webkit-filter: hue-rotate(0deg); }
.headline-wrapper .one { background-image: url(../images/app1.png); background-repeat: no-repeat; background-size: cover; }
.headline-wrapper .two { background-image: url(../images/app2.png); background-repeat: no-repeat; background-size: cover; }
.headline-wrapper .three { background-image: url(../images/app3.png); background-repeat: no-repeat; background-size: cover; }
.headline-wrapper .four { background-image: url(../images/app4.png); background-repeat: no-repeat; background-size: cover; }
.headline-wrapper .five { background-image: url(../images/app5.png); background-repeat: no-repeat; background-size: cover; }
.headline-wrapper .six { background-image: url(../images/app6.png); background-repeat: no-repeat; background-size: cover; }
.headline-wrapper .model-caption { font-size: 45px; font-weight: bold; text-transform: uppercase; webkit-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; top: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); -transform: translate(-50%,-50%); transform: translate(-50%,-50%); width: 100%; position: absolute; left: 50%; z-index: 999; line-height: 100px; height: 100px; background-color: rgba(0,0,0,0.9); opacity: 1; }
.headline-wrapper:hover .model-caption { opacity: 0; width: 100%; }
.headline-wrapper .model-text { height: auto; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); -transform: translateY(-50%); transform: translateY(-50%); width: 100%; margin: 0 auto; color: #fff; opacity: 0; filter: alpha(opacity=0); -webkit-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; }
.headline-wrapper:hover { text-decoration: none; }
.headline-wrapper .gaming .model-caption { color: #4e3884; }
.headline-wrapper .productivity .model-caption { color: #ff8b13; }
.headline-wrapper .social .model-caption { color: #1ba78b; }
.headline-wrapper .learning .model-caption { color: #13a8e5; }
.headline-wrapper .shopping .model-caption { color: #f80e5d; }
.headline-wrapper .entertainment .model-caption { color: #b8007d; }
.headline-wrapper:hover .model-text { opacity: 1; z-index: 9999; }
.headline-wrapper .one .model-text { color: #434343; }
.headline .model-text .title { font-size: 32px; line-height: 45px; text-align: center; color: #fff; background-color: rgba(0,0,0,0.8); margin: 0; padding: 40px 15px; letter-spacing: -1px; }
.remixos-info { padding: 100px 0 200px 0; background-color: #f6f6f6; }
.remixos-info h2 { margin-bottom: 30px; font-weight: 300; text-align: center; font-size: 60px; color: #333; padding-top: 40px; }
.remixos-info p { margin-bottom: 30px; text-align: center; font-size: 18px; line-height: 1.8em; color: #333; }
/*--------------------------------------------------------------------------------------------*/
/* CONTACT
/*--------------------------------------------------------------------------------------------*/


.contact { background: url(../images/contact_bg.jpg) right 0 no-repeat; background-size: contain; width: auto; height: auto; margin: 0; padding: 8% 0; }
.contact-holder { background: rgba(0, 140, 255, 0.4); padding: 30px; margin-top: 20%; margin-bottom: 5%; }
.contact h5 { font-size: 72px; line-height: 60px; font-weight: normal; letter-spacing: 5px; text-transform: uppercase; color: #333; text-align: center; margin: 0; padding: 0; padding-top: 100px; padding-bottom: 100px; }
.contact .fa { font-size: 70px; color: #333; float: left; width: 95px; height: 65px; text-align: center; margin-right: 55px; }
.contact h6 { font-size: 48px; color: #333; float: left; }
.contact .details { display: block; width: 100%; margin: 0 auto; margin-bottom: 30px; }

/*-------------------------------------------------------------------------------------------*/
/* MEDIA QUERY
/*-------------------------------------------------------------------------------------------*/
@media (max-width: 1680px) and (min-width: 1300px) {
.product-txt { margin-left: 8%; }
}

@media (max-width: 1299px) and (min-width: 1024px) {
	
}

@media (max-width: 1023px) and (min-width: 992px) {
	
}

@media (max-width: 991px) and (min-width: 768px) {
	
}


@media (max-width: 767px) and (min-width: 480px) {
	
	
	
}

@media (max-width: 479px) and (min-width: 0) {
	
}
